In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\Prasa'

In [3]:
os.chdir("C:\\Users\\Prasa\\OneDrive\\Documents")

In [4]:
import pandas as pd
df1 = pd.read_csv("diabetes.csv")

In [5]:
df2 = pd.read_csv("diabetes.csv")

In [6]:
df = pd.concat([df1,df2],ignore_index=True)

In [7]:
df

,Unnamed: 0,Unnamed: 0.1,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,0,6,148,72,35,0,33.6,0.627,50,1
1,1,1,1,85,66,29,0,26.6,0.351,31,0
2,2,2,8,183,64,0,0,23.3,0.672,32,1
3,3,3,1,89,66,23,94,28.1,0.167,21,0
4,4,4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...,...
6139,3067,1531,10,101,76,48,180,32.9,0.171,63,0
6140,3068,1532,2,122,70,27,0,36.8,0.340,27,0
6141,3069,1533,5,121,72,23,112,26.2,0.245,30,0
6142,3070,1534,1,126,60,0,0,30.1,0.349,47,1
6143,3071,1535,1,93,70,31,0,30.4,0.315,23,0

In [8]:
df.shape

(6144, 11)

In [9]:
df.to_csv("DIABETES.csv")

In [30]:
#df.drop("Unnamed: 0",axis="columns",inplace=True)

In [33]:
df.drop("Unnamed: 0.1",axis="columns",inplace=True)

In [34]:
x = df.drop("Outcome",axis="columns")

In [35]:
y = df.Outcome

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [38]:
len(x_train)

4915

In [39]:
len(x_test)

1229

In [40]:
from sklearn.svm import SVC

In [41]:
model = SVC(C=2,gamma="auto")

In [42]:
model.fit(x,y)

SVC(C=2, gamma='auto')

In [43]:
model.score(x_train,y_train)

1.0

In [44]:
model.score(x_test,y_test)

1.0

In [51]:
df.head(6)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0

In [46]:
model.predict([[6,148,72,35,0,33.6,0.627,50]])[0]

1

In [47]:
model.predict([[7,187,68,39,304,37.7,0.254,41]])

array([1], dtype=int64)

In [48]:
model.predict([[1,153,82,42,485,40.6,0.687,23]])[0]

0

In [49]:
#from sklearn.tree import DecisionTreeClassifier

In [50]:
#model = DecisionTreeClassifier()

In [ ]:
#model.fit(x_train,y_train)

In [ ]:
#model.score(x_train,y_train)

In [ ]:
#model.score(x_test,y_test)

In [ ]:
import pickle

In [ ]:
with open('diabetes.pkl','wb') as f:
    pickle.dump(model,f)

In [ ]:
lr_model = pickle.load(open('diabetes.pkl','rb'))

In [ ]:
lr_model.predict([[1,153,82,42,485,40.6,0.687,23]])[0]